<a class="text-primary" data-toggle="collapse" href="#post{{post._id}}">
<div class="jumbotron">
  <div class="container-fluid">
    <div *ngIf="post.images.length > 0; else noImg">
      <div class="row content">  
        
        <div class="col-sm-5 clearfix">
          <img class="img-responsive img-rounded" src="{{post.images[0]}}" alt="Image Here">
        </div>
        
        <div class="col-sm-7">
          <h2>{{post.title}}</h2>
          <p>{{post.description}}</p>
          <!-- change post.author in herf/id to a real id value -->    
          <ul class="nav nav-pills">
            <li><a class="text-info" href="#">By {{post.author}}</a></li>
            <li><a class="text-info" href="#"><span class="badge ">{{post.likes.length}}</span>   Likes</a></li>
          </ul>
        </div> 
     
      </div>
    </div>
    
    <ng-template #noImg>
      <div class="row content">
        <div class="col-sm-12">
        <h2>{{post.title}}</h2>
        <p>{{post.description}}</p>
        <!-- change post.author in herf/id to a real id value -->    
        <ul class="nav nav-pills">
          <li><a class="text-info" href="#">By {{post.author}}</a></li>
          <li><a class="text-info" href="#"><span class="badge ">3</span>   Likes</a></li>
        </ul>
        </div>
      </div>
    </ng-template>
  </div>
  
  <div id="post{{post._id}}" class="collapse">
    <br>
    <ul class="list-group">
      <li class="list-group-item active">Ingredients</li>
      <li *ngFor="let ingredient of post.ingredients" class="list-group-item">{{ingredient}}</li>
    </ul>
    <br>

    <div *ngFor="let instruction of post.instructions, let i = index">
      <app-textandimage 
        [text]="i+1 +'. '+ instruction.text" 
        [images]="instruction.images" 
        [relation]="7">
      </app-textandimage>
      <br>
    </div>

    <ul>
      <li *ngFor="let comment of post.comments">{{comment}}</li>
    </ul>
  </div>
</div>
</a>
<br>