<div *ngIf="postsService.posts && postsService.posts.length != 0; else NoRecipes">
    <div *ngFor="let post of postsService.posts">
        <app-post [post]="post" (postDeleted)="onPostDeleted(post)"></app-post>
    </div>

    <footer class="container-fluid">
        <ul class="pager">
            <li [ngClass]="{ 'previous': true, 'disabled': !hasPreviousPage }"><a (click)="onPreviousPage()">&larr; Older</a></li>
            <li [ngClass]="{ 'next': true, 'disabled': !hasNextPage }" ><a (click)="onNextPage()">Newer &rarr;</a></li>
        </ul>
    </footer>
</div>
<ng-template #NoRecipes>
    <div>
        <!-- TODO: fill in a loader icon -->
    </div>
</ng-template>