<h2 class="page-header">Create Recipe</h2>

<div class="jumbotron">
  <div *ngIf="post.images.length > 0; else noImg">
    <div class="row content">          
      <div class="col-md-5 clearfix">
        <img class="img-responsive img-rounded" src="{{post.images[0]}}" alt="Image Here">
      </div>
      <div class="col-md-7">
        <div class="form-group">
          <label>Title</label>            
          <textarea autosize type="text" class="form-control input-lg" [(ngModel)]="post.title" name="title" placeholder="add title here"></textarea>                      
        </div>    
        <div class="form-group">
          <label>Description</label>
          <textarea autosize type="text" class="form-control" [(ngModel)]="post.description" name="description" placeholder="add description here"></textarea>            
        </div>
      </div>
    </div>
  </div><br><br>

  <div class="form-group">
    <ul class="list-group">
      <li class="list-group-item active">Ingredients</li>
       
      <li *ngFor="let ingredient of post.ingredients, let i = index" class="list-group-item">
        <div class="input-group">
          <input type="text" class="form-control" value="{{ingredient}}" placeholder="some Ingredient">          
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button" (click)="removeIngredient($event, i)">x</button>
          </span>
        </div>
      </li>

      <li class="list-group-item">
        <form (submit)="addIngredient()"> 
          <label>Add Ingredient</label>          
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="newIngredient" name="newIngredient" placeholder="add Ingredient">
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" (click)="addIngredient()">+</button>
            </span>
          </div>
        </form>
      </li>
    </ul>    
  </div><br>

  <div *ngFor="let instruction of post.instructions, let i = index">
    <!-- <div class="panel panel-default"> -->
      <!-- <div class="panel-body"> -->
        <div class="row content">
          <div class="col-md-5 clearfix">
            <img class="img-responsive img-rounded" src="{{instruction.images[0]}}" alt="Image Here">      
          </div>
          <br>
          <div class="col-md-6 form-group">
            <textarea autosize type="text" class="form-control" value={{instruction.text}} placeholder="add instruction"></textarea>
          </div>        
          <div class="col-md-1 form-group">          
            <button class="btn btn-danger" type="button" (click)="removeInstruction(i)">x</button>          
          </div>
        </div>
      <!-- </div> -->
    <!-- </div> -->
    <br>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading container-fluid">
      <div class="row content">
        <div class="col-md-11 clearfix">
          <h3 class="panel-title">Add Instruction</h3>
        </div>
        <div class="col-md-1 clearfix">        
          <button class="btn btn-info" type="button" (click)="addInstruction()">+</button>          
        </div>
      </div>      
    </div>
    <div class="panel-body container-fluid">
      <div class="row content">
        <div class="col-md-5 clearfix">
          <img class="img-responsive img-rounded" src="{{newInstruction.images[0]}}" alt="Image Here">      
        </div>
        <br>
        <div class="col-md-7 form-group">
          <textarea autosize type="text" class="form-control" [(ngModel)]="newInstruction.text" name="newInstructionText" placeholder="add instruction"></textarea>
        </div>
      </div>
    </div>
  </div>
  <br>

  <button class="btn btn-primary" type="button" (click)="onPostSubmit()">Submit</button>
  <!-- <input type="submit" class="btn btn-primary" value="Submit">   -->
</div><br><br>