<div class="jumbotron text-center">
  <h1> Welcome to <b>foody</b></h1>
  <p class="lead">The best palce to share your tasty food.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a> 
    <a class="btn btn-info" [routerLink]="['/register']">Register</a> 
  </div>
</div>

<div class="row">
   <div class="col-md-4">
    <h3>Find</h3>
    <p>Crave a nice meal? Here you can find the prefect recipes for the prefect meal, with a step by step guide on how to make it.</p>
  </div>
   <div class="col-md-4">
    <h3>Follow</h3>
    <p>Find a recipe you like? Here you can Follow you favorit cooks to get updated on more of their tasty recipes.</p>
  </div>
  <div class="col-md-4">
    <h3>Share</h3>
    <p>Want the world to konw all about your food? Here you can share all your recipes with the world, so that they to can enjoy your tasty food.</p>
  </div>
</div>
