<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar-content">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><b>foody</b></a>
    </div>

    <div class="collapse navbar-collapse" id="nav-bar-content">
      <div *ngIf="authService.loggedIn(); else LoggedOut">
        <ul class="nav navbar-nav">
          <li [ngClass]="dropdownClass">
            <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Dropdown <span class="caret"></span></a> -->
            <a (click)=toggleDropdown() class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Search {{searchFor}} <span class="caret"></span></a>            
            <ul class="dropdown-menu" role="menu">
              <li><a (click)="searchFor = 'Recipes'; toggleDropdown()">Recipes</a></li>
              <li><a (click)="searchFor = 'Users'; toggleDropdown()">Users</a></li>
            </ul>
          </li>
        </ul>

        <form class="navbar-form navbar-left" role="search" (submit)="onSearchSubmit()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" name="query">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </form>

        <ul class="nav navbar-nav">
          <li [ngClass]="topmostDropdownClass">
            <a (click)=toggleTopmostDropdown() class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Top {{topRes}} <span class="caret"></span></a>            
            <ul class="dropdown-menu" role="menu">
              <li><a (click)="topRes = 'Recipes'; toggleTopmostDropdown()" [routerLink]="['/top-recipes']">Top Recipes</a></li>
              <li><a (click)="topRes = 'Users'; toggleTopmostDropdown()" [routerLink]="['/top-users']">Top Users</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/createrecipe']" href="#">Create Recipe</a></li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/dashboard']">Home</a></li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/profile', authService.getUsername()]">My Profile</a></li>     
          <!-- other options are kept for now just in case -->
          <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/profile']">My Profile</a></li>    -->
          <!-- <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="onProfileClick(authService.getUsername())" >My Profile</a></li>   -->
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a (click)="onLogoutClick()" href="#">Logout</a></li>
        </ul>
      </div>


      <ng-template #LoggedOut>
        <ul class="nav navbar-nav">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/login']">Login</a></li>
          <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/register']">Register</a></li>
        </ul>
      </ng-template>

    </div>
  </div>
</nav>