<h2 class="page-header">Profiles</h2>
<div *ngFor="let profileResult of profilesService.profiles">
  <app-profile-result [profileResult]="profileResult" [username]="username"></app-profile-result>
</div>
<footer class="container-fluid">
  <ul class="pager">
    <li [ngClass]="{ 'previous': true, 'disabled': !hasPreviousPage }"><a (click)="onPreviousPage()">&larr; Older</a></li>
    <li [ngClass]="{ 'next': true, 'disabled': !hasNextPage }"><a (click)="onNextPage()">Newer &rarr;</a></li>
  </ul>
</footer>